In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv(r'C:\Users\Navneet Choudhary\OneDrive\Documents\DSI\Team assignment\dataset.csv')
print(df)

           ID  Gender  Own_car  Own_property  Work_phone  Phone  Email  \
0     5008804       1        1             1           1      0      0
1     5008806       1        1             1           0      0      0
2     5008808       0        0             1           0      1      1
3     5008812       0        0             1           0      0      0
4     5008815       1        1             1           1      1      1
...       ...     ...      ...           ...         ...    ...    ...
9704  5148694       0        0             0           0      0      0
9705  5149055       0        0             1           1      1      0
9706  5149729       1        1             1           0      0      0
9707  5149838       0        0             1           0      1      1
9708  5150337       1        0             1           0      0      0

      Unemployed  Num_children  Num_family  Account_length  Total_income  \
0              0             0           2              15      427500.0
1              0             0           2              29      112500.0
2              0             0           1               4      270000.0
3              1             0           1              20      283500.0
4              0             0           2               5      270000.0
...          ...           ...         ...             ...           ...
9704           0             0           2              20      180000.0
9705           0             0           2              19      112500.0
9706           0             0           2              21       90000.0
9707           0             0           2              32      157500.0
9708           0             0           1              13      112500.0

            Age  Years_employed           Income_type  \
0     32.868574       12.435574               Working
1     58.793815        3.104787               Working
2     52.321403        8.353354  Commercial associate
3     61.504343        0.000000             Pensioner
4     46.193967        2.105450               Working
...         ...             ...                   ...
9704  56.400884        0.542106             Pensioner
9705  43.360233        7.375921  Commercial associate
9706  52.296762        4.711938               Working
9707  33.914454        3.627727             Pensioner
9708  25.155890        3.266323               Working

                     Education_type         Family_status  \
0                  Higher education        Civil marriage
1     Secondary / secondary special               Married
2     Secondary / secondary special  Single / not married
3                  Higher education             Separated
4                  Higher education               Married
...                             ...                   ...
9704  Secondary / secondary special        Civil marriage
9705  Secondary / secondary special               Married
9706  Secondary / secondary special               Married
9707               Higher education               Married
9708  Secondary / secondary special  Single / not married

             Housing_type Occupation_type  Target
0        Rented apartment           Other       1
1       House / apartment  Security staff       0
2       House / apartment     Sales staff       0
3       House / apartment           Other       0
4       House / apartment     Accountants       0
...                   ...             ...     ...
9704  Municipal apartment        Laborers       1
9705    House / apartment           Other       1
9706    House / apartment           Other       1
9707    House / apartment  Medicine staff       1
9708     Rented apartment        Laborers       1

[9709 rows x 20 columns]

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,9709.0,5.076105e+06,40802.696053,5.008804e+06,5.036955e+06,5.069449e+06,5.112986e+06,5.150479e+06
Gender,9709.0,3.487486e-01,0.476599,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Own_car,9709.0,3.677001e-01,0.482204,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Own_property,9709.0,6.715419e-01,0.469677,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Work_phone,9709.0,2.174271e-01,0.412517,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Phone,9709.0,2.876712e-01,0.452700,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Email,9709.0,8.754764e-02,0.282650,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Unemployed,9709.0,1.746833e-01,0.379716,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Num_children,9709.0,4.228036e-01,0.767019,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.900000e+01
Num_family,9709.0,2.182614e+00,0.932918,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+01
Account_length,9709.0,2.727006e+01,16.648057,0.000000e+00,1.300000e+01,2.600000e+01,4.100000e+01,6.000000e+01
Total_income,9709.0,1.812282e+05,99277.305097,2.700000e+04,1.125000e+05,1.575000e+05,2.250000e+05,1.575000e+06
Age,9709.0,4.378409e+01,11.625768,2.050419e+01,3.405956e+01,4.274147e+01,5.356715e+01,6.886384e+01
Years_employed,9709.0,5.664730e+00,6.342241,0.000000e+00,9.281505e-01,3.761884e+00,8.200031e+00,4.302073e+01
Target,9709.0,1.321454e-01,0.338666,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

In [5]:
df.nunique()

ID                 9709
Gender                2
Own_car               2
Own_property          2
Work_phone            2
Phone                 2
Email                 2
Unemployed            2
Num_children          9
Num_family           10
Account_length       61
Total_income        263
Age                7172
Years_employed     3637
Income_type           5
Education_type        5
Family_status         5
Housing_type          6
Occupation_type      19
Target                2
dtype: int64

In [6]:
data_processed = pd.get_dummies(df, columns = ['Income_type' , 'Education_type', 'Family_status', 'Housing_type', 'Occupation_type'])
print(data_processed )

           ID  Gender  Own_car  Own_property  Work_phone  Phone  Email  \
0     5008804       1        1             1           1      0      0
1     5008806       1        1             1           0      0      0
2     5008808       0        0             1           0      1      1
3     5008812       0        0             1           0      0      0
4     5008815       1        1             1           1      1      1
...       ...     ...      ...           ...         ...    ...    ...
9704  5148694       0        0             0           0      0      0
9705  5149055       0        0             1           1      1      0
9706  5149729       1        1             1           0      0      0
9707  5149838       0        0             1           0      1      1
9708  5150337       1        0             1           0      0      0

      Unemployed  Num_children  Num_family  ...  \
0              0             0           2  ...
1              0             0           2  ...
2              0             0           1  ...
3              1             0           1  ...
4              0             0           2  ...
...          ...           ...         ...  ...
9704           0             0           2  ...
9705           0             0           2  ...
9706           0             0           2  ...
9707           0             0           2  ...
9708           0             0           1  ...

      Occupation_type_Low-skill Laborers  Occupation_type_Managers  \
0                                  False                     False
1                                  False                     False
2                                  False                     False
3                                  False                     False
4                                  False                     False
...                                  ...                       ...
9704                               False                     False
9705                               False                     False
9706                               False                     False
9707                               False                     False
9708                               False                     False

      Occupation_type_Medicine staff  Occupation_type_Other  \
0                              False                   True
1                              False                  False
2                              False                  False
3                              False                   True
4                              False                  False
...                              ...                    ...
9704                           False                  False
9705                           False                   True
9706                           False                   True
9707                            True                  False
9708                           False                  False

      Occupation_type_Private service staff  Occupation_type_Realty agents  \
0                                     False                          False
1                                     False                          False
2                                     False                          False
3                                     False                          False
4                                     False                          False
...                                     ...                            ...
9704                                  False                          False
9705                                  False                          False
9706                                  False                          False
9707                                  False                          False
9708                                  False                          False

      Occupation_type_Sales staff  Occupation_type_Secretaries  \
0                           False                        False
1                           False                        False
2                            True                        False
3                           False                        False
4                           False                        False
...                           ...                          ...
9704                        False                        False
9705                        False                        False
9706                        False                        False
9707                        False                        False
9708                        False                        False

      Occupation_type_Security staff  Occupation_type_Waiters/barmen staff
0                              False                                 False
1                               True                                 False
2                              False                                 False
3                              False                                 False
4                              False                                 False
...                              ...                                   ...
9704                           False                                 False
9705                           False                                 False
9706                           False                                 False
9707                           False                                 False
9708                           False                                 False

[9709 rows x 55 columns]

In [7]:
y = data_processed['Target']
X = data_processed.drop(columns= ['Target'])

In [8]:
X.info

<bound method DataFrame.info of            ID  Gender  Own_car  Own_property  Work_phone  Phone  Email  \
0     5008804       1        1             1           1      0      0
1     5008806       1        1             1           0      0      0
2     5008808       0        0             1           0      1      1
3     5008812       0        0             1           0      0      0
4     5008815       1        1             1           1      1      1
...       ...     ...      ...           ...         ...    ...    ...
9704  5148694       0        0             0           0      0      0
9705  5149055       0        0             1           1      1      0
9706  5149729       1        1             1           0      0      0
9707  5149838       0        0             1           0      1      1
9708  5150337       1        0             1           0      0      0

      Unemployed  Num_children  Num_family  ...  \
0              0             0           2  ...
1              0             0           2  ...
2              0             0           1  ...
3              1             0           1  ...
4              0             0           2  ...
...          ...           ...         ...  ...
9704           0             0           2  ...
9705           0             0           2  ...
9706           0             0           2  ...
9707           0             0           2  ...
9708           0             0           1  ...

      Occupation_type_Low-skill Laborers  Occupation_type_Managers  \
0                                  False                     False
1                                  False                     False
2                                  False                     False
3                                  False                     False
4                                  False                     False
...                                  ...                       ...
9704                               False                     False
9705                               False                     False
9706                               False                     False
9707                               False                     False
9708                               False                     False

      Occupation_type_Medicine staff  Occupation_type_Other  \
0                              False                   True
1                              False                  False
2                              False                  False
3                              False                   True
4                              False                  False
...                              ...                    ...
9704                           False                  False
9705                           False                   True
9706                           False                   True
9707                            True                  False
9708                           False                  False

      Occupation_type_Private service staff  Occupation_type_Realty agents  \
0                                     False                          False
1                                     False                          False
2                                     False                          False
3                                     False                          False
4                                     False                          False
...                                     ...                            ...
9704                                  False                          False
9705                                  False                          False
9706                                  False                          False
9707                                  False                          False
9708                                  False                          False

      Occupation_type_Sales staff  Occupation_type_Secretaries  \
0                           False                        False
1                           False                        False
2                            True                        False
3                           False                        False
4                           False                        False
...                           ...                          ...
9704                        False                        False
9705                        False                        False
9706                        False                        False
9707                        False                        False
9708                        False                        False

      Occupation_type_Security staff  Occupation_type_Waiters/barmen staff
0                              False                                 False
1                               True                                 False
2                              False                                 False
3                              False                                 False
4                              False                                 False
...                              ...                                   ...
9704                           False                                 False
9705                           False                                 False
9706                           False                                 False
9707                           False                                 False
9708                           False                                 False

[9709 rows x 54 columns]>

In [9]:
npx = np.array(X)
X_constant = sm.add_constant(npx)  # Add a constant term for the intercept
model = sm.OLS(y, X_constant.astype(float)).fit()

In [15]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     5.048
Date:                Thu, 20 Jun 2024   Prob (F-statistic):           7.80e-28
Time:                        21:36:19   Log-Likelihood:                -3140.9
No. Observations:                9709   AIC:                             6382.
Df Residuals:                    9659   BIC:                             6741.
Df Model:                          49
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1791      0.238      0.751      0.453      -0.288       0.647
x1         -2.107e-08    8.4e-08     -0.251      0.802   -1.86e-07    1.44e-07
x2             0.0037      0.009      0.417      0.677      -0.014       0.021
x3            -0.0143      0.008     -1.827      0.068      -0.030       0.001
x4            -0.0167      0.008     -2.195      0.028      -0.032      -0.002
x5            -0.0110      0.009     -1.206      0.228      -0.029       0.007
x6            -0.0053      0.008     -0.673      0.501      -0.021       0.010
x7             0.0006      0.012      0.045      0.964      -0.024       0.025
x8            -0.8519      0.085     -9.986      0.000      -1.019      -0.685
x9            -0.1361      0.043     -3.183      0.001      -0.220      -0.052
x10            0.1371      0.043      3.226      0.001       0.054       0.220
x11            0.0018      0.000      8.489      0.000       0.001       0.002
x12         4.706e-08   3.84e-08      1.226      0.220   -2.82e-08    1.22e-07
x13           -0.0014      0.000     -3.247      0.001      -0.002      -0.001
x14           -0.0009      0.001     -1.380      0.168      -0.002       0.000
x15           -0.1716      0.061     -2.792      0.005      -0.292      -0.051
x16            0.6838      0.091      7.484      0.000       0.505       0.863
x17           -0.1847      0.062     -2.981      0.003      -0.306      -0.063
x18            0.0197      0.166      0.119      0.906      -0.306       0.345
x19           -0.1682      0.061     -2.745      0.006      -0.288      -0.048
x20            0.1967      0.123      1.603      0.109      -0.044       0.437
x21           -0.0099      0.054     -0.181      0.856      -0.116       0.097
x22            0.0182      0.056      0.327      0.744      -0.091       0.127
x23           -0.0147      0.059     -0.248      0.804      -0.131       0.101
x24           -0.0112      0.054     -0.207      0.836      -0.117       0.095
x25           -0.0391      0.058     -0.677      0.498      -0.152       0.074
x26           -0.0534      0.057     -0.931      0.352      -0.166       0.059
x27            0.0828      0.050      1.656      0.098      -0.015       0.181
x28            0.1005      0.049      2.045      0.041       0.004       0.197
x29            0.0883      0.051      1.743      0.081      -0.011       0.188
x30           -0.0212      0.064     -0.333      0.739      -0.146       0.104
x31            0.0359      0.042      0.864      0.388      -0.046       0.118
x32            0.0514      0.044      1.164      0.244      -0.035       0.138
x33            0.0138      0.053      0.261      0.794      -0.090       0.118
x34            0.0727      0.048      1.530      0.126      -0.020       0.166
x35            0.0264      0.043      0.609      0.543      -0.059       0.111
x36            0.0013      0.024      0.052      0.958      -0.046       0.049
x37            0.0209      0.031      0.678      0.498      -0.040       0.082
x38            0.0188      0.028      0.679      0.497      -0.035       0.073
x39            0.0164      0.019      0.872      0.383      -0.020       0.053
x40            0.0167      0.021      0.808      0.419      -0.024       0.057
x41            0.0011      0.069      0.016      0.987      -0.135       0.137
x42            0.0136      0.023      0.596      0.551      -0.031       0.058
x43           -0.0239      0.077     -0.311      0.755      -0.174       0.127
x44            0.0009      0.017      0.053      0.958      -0.033       0.035
x45            0.0551      0.047      1.178      0.239      -0.037       0.147
x46            0.0139      0.019      0.715      0.474      -0.024       0.052
x47            0.0338      0.025      1.369      0.171      -0.015       0.082
x48            0.0058      0.018      0.329      0.743      -0.029       0.041
x49           -0.0085      0.038     -0.226      0.821      -0.082       0.065
x50            0.0074      0.081      0.091      0.927      -0.152       0.167
x51           -0.0167      0.019     -0.901      0.367      -0.053       0.020
x52           -0.0219      0.050     -0.442      0.659      -0.119       0.075
x53            0.0447      0.029      1.570      0.117      -0.011       0.101
x54           -0.0004      0.053     -0.008      0.994      -0.104       0.103
==============================================================================
Omnibus:                     3753.855   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10617.332
Skew:                           2.154   Prob(JB):                         0.00
Kurtosis:                       5.771   Cond. No.                     1.51e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.09e-15. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.